html{
display: flex;
}
table {
display: flex;
align-items: stretch;
padding: 1px 1px;
min-width: 200px;

}
.gameGrid{
display: flex;
padding: 1px;
margin: 1px;
}
.cool {
display: flex;
flex-direction: column;
align-content: space-around;
padding: 1;
margin: 1;
}
/* .go{
  display: flex;
  flex-grow: 20;
} */
table, th{
  /* display: table-cell; */
  vertical-align: middle;
  padding: 1;
}
table, td{
  padding: 1;
}
